.site-title {
    font-family: poppins-bold;
    font-size: 58px;
    color: #304A6E;
}

.site-motto {
    font-family: poppins;
    font-size: 15px;
    color: #62548C;
}

.form-title {
    font-family: poppins-bold;
    font-size: large;
    color: #62548C;
}

.auth-btn {
    width: 150px;
    background-color:  #B85F6A;
    color: white;
}

.login-card {
    background-color: #F4F6FA;
    border: 3px solid #C9D2E3;
    border-radius: 5px;
}

.register-card {
    background-color: #F6F4FA;
    border: 3px solid #DAD3E8;
    border-radius: 5px;
}

.auth-wrapper {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    background-color:  #F0EEF2;
}

.auth-content{
    max-width: 1140px;
    margin: 0 auto;
}